<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>관리자 | 대시보드</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/admin-list.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: siteHeader}"></div>

<main class="container">
    <h2>관리 목록</h2>

    <section class="admin-grid">
        <!-- 1. 게시판 관리 -->
        <div class="admin-card">
            <h3>🗂 게시판/게시글 관리</h3>
            <ul>
                <li><a th:href="@{/admin/boards}">게시판 목록 / 수정 / 삭제 </a></li>
                <li><a th:href="@{/admin/deletedBoards}">게시판 복구 </a></li>
            </ul>
        </div>

        <!-- 2. 회원 관리 -->
        <div class="admin-card">
            <h3>👥 사용자 관리</h3>
            <ul>
                <li><a th:href="@{/admin/users}">사용자 목록</a></li>
                <li><a th:href="@{/admin/deletedUsers}">사용자 복구</a></li>
            </ul>
        </div>

        <div class="admin-card">
            <h3>👥 신고 관리</h3>
            <ul>
                <li><a th:href="@{/admin/reports/posts}">신고 게시글 목록</a></li>
            </ul>
        </div>
    </section>
</main>
<div th:replace="~{fragments/footer :: siteFooter}"></div>
</body>
</html>